html, body {
    margin: 0 auto;
    padding: 0px;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
        margin: 0;
        padding: 50px 0;
        width: 100%;
        min-height: 100vh; 
        background-color: #f5f5dc;
        font-family: Arial, Helvetica, sans-serif;
        color: whitesmoke;
        }
        body::before{
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;

            background-image: url('https://i.pinimg.com/736x/fe/0e/fb/fe0efb1edf871391963db6569004f3c3.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            filter: blur(3px);
            transform: scale(1.05);
        }
        .square {
            width: 80vw;
            max-width: 1300px;
            background-color: #f5f5dc;
            flex-direction: column;
            border-radius: 50px;
            box-sizing: border-box;
            display: flex;
            margin: auto;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 1;
        }
        .first-post{
            position: relative;
            width: 50vw;
            height: auto;
            top: 50px
        }
        .insta{
            position:relative;
            font-family: "EB Garamond", 'Times New Roman', Times, serif;
            color: #7E5A5E;
            font-size: clamp(1.25rem, 4vw, 2.5rem);
            top: 40px;
            z-index: 2;
        }
        .insta-gallery{
            width: 90%;
            box-sizing: border-box;
            list-style: none;
            padding: 0;
            justify-content: center;
            display: flex;
            overflow-x: auto;
            flex-direction: row;
            gap: 30px;       /* Spacing between images */
        }
        .post{
            width: 30vw;
        }
        .reel{
            width: 30vw
        }
        .scroll {
            position:relative;
            font-family: "EB Garamond", 'Times New Roman', Times, serif;
            color: #7E5A5E;
            font-size: clamp(1.25rem, 4vw, 2.5rem);
            top: -10px;
            z-index: 2;
        }
        .photo-gallery{
            width: 90%;
            box-sizing: border-box;
            list-style: none;
            padding: 0;
            justify-content: center;
            margin-bottom: 70px;
            display: flex;
            overflow-x: auto;
            flex-direction: row;
            gap: 50px;       /* Spacing between images */
        }
        .video1 {
            width: 31vw;
        }
        .video2 {
            width: 31vw;
        }
        .video3 {
            width: 31vw;
        }
        .video4 {
            width: 31vw;
        }
        .video5 {
            width: 31vw;
        }
        .img1 {
            height: 20vw;
        }
        .img2 {
            height: 20vw;
        }
        .img3 {
            height: 20vw;
        }
        .back-button{
            background-color: #E2E294;
            width: 15vw;
            max-width: 200px;
            height: 8vw;
            max-height: 75px;
            font-family: "Cause", cursive;
            font-weight: 400;
            font-style: normal;
            font-size: clamp(0.5rem, 2vw, 3rem);
            color: #7E5A5E;
            position: relative;
            bottom: 30px;
            z-index: 8; 
        }
        @media screen and (max-width: 600px){
            .first-post{
                width: 65vw;
                height: auto;
            }
            .post{
                width: 35vw;
            }
            .reel{
                width: 35vw
            }
            .video1 {
                width: 41vw;
            }
            .video2 {
                width: 41vw;
            }
            .video3 {
                width: 41vw;
            }
            .video4 {
                width: 41vw;
            }
            .video5 {
                width: 41vw;
            }
            .img1 {
                height: 30vw;
            }
            .img2 {
                height: 30vw;
            }
            .img3 {
                height: 30vw;
        }
        }